.navBar {
  background-color: rgb(69, 37, 186);
  border: 5px solid rgb(150, 180, 207);
  border-radius: 5px;
  padding: 10px;
  width: 300px;
  margin: 0 auto;
}

.navBar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navBar a {
  display: block;
  padding: 10px 20px;
  margin: 5px 0;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.navBar a:hover {
  background-color: #f70000;
}

.navBar a:active {
  background-color: #9a8b8b;
  box-shadow: 0 0 5px #352828;
}

